body{
    margin: 0;
    padding: 0;
    font-size: 22px;
    box-sizing: border-box;
}
.op-area{
    margin-top: 12%;
    max-width: 60%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px #ccc;
}

[class*='col']{
    padding-top: 1%;
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8em;
    font-weight: bold;
    position: relative;
    padding: 0 !important;
}
.title-box:before {
    content : "";
    position: absolute;
    left    : 30%;
    bottom  : 0;
    height  : 1px;
    width   : 40%;  /* or 100px */
    border-bottom:5px solid blue;
  }
.thumbnail{
    margin-top: 50px;
    min-width: 180px;
    max-width: 181px;
    min-height: 180px;
    max-height: 181px;
    border-radius: 50%;
    position: relative;
    box-shadow: 20px -10px #ccc;
}
.occupation{
    letter-spacing: 1px;
    font-size:1em;
    font-weight: 400;
    color: blue;
}
.name{
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: 500;
}