body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.head-area,.foot-area{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a {
    background-color: #ccc;
    padding: 20px 40px;
    border-radius: 2px;
    margin-left: 5px;
}

.spacer{
    margin-top: 60px;
    margin-bottom: 100px;
}
.big-font{
    font-size: 2.2em;
    font-weight: bold;
}