<div class="row justify-content-end align-items-center">
    <div class="col-7 big-font spacer">
        <div class="row row-cols-1 text-start">
            <div class="col">C - Create</div>
            <div class="col">R - Read</div>
            <div class="col">U - Update</div>
            <div class="col">D - Delete</div>
        </div>
    </div>

</div>